html {
    background-color: aquamarine;
}

/* attempt at creating code-field -- baby steps */
code {
    background-color: #eee;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    padding: 33 33px;
}

.answerClass {
    width: 100%;
    padding: 25px;
    background-color: green;
    color: white;
    font-size: 25px;
}